
.WeatherList {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Location {
    justify-content: center;
    color: gray;
}

.IndividualCard {
    border:solid;
    width: auto;
    height: auto;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(102, 102, 102);
}

.DayDate {
    color: rgb(255, 255, 255);
}

img {
    background-color: rgb(23, 23, 255);
}