
.WeatherList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.Location {
    justify-content: center;
    color: gray;
}

.IndividualCard {
    border:solid;
    width: auto;
    height: auto;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(102, 102, 102);
    border-color: black;
}

.DayDate {
    color: rgb(255, 255, 255);
}

.IndividualHourCard {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
    height: 140px;
    width: 100px;
}

.HourCard {
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: auto;
    flex-direction: row;
    align-content: center;
}

img {
   background-color: rgba(46, 46, 255, 0.397);
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {

  display: flex;
flex-direction: column;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  margin:auto;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #a3b5b9;
  color: #3259da79;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
  
img.hourImage {
    height: 50px;
    width: 50px;
    background-color: rgba(46, 46, 255, 0.699);
}

