
.WeatherList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.Location {
    justify-content: center;
    color: gray;
}

.IndividualCard {
    border:solid;
    width: auto;
    height: auto;
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(102, 102, 102);
}

.DayDate {
    color: rgb(255, 255, 255);
}

.IndividualHourCard {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
    height: 140px;
    width: 100px;
}

.HourCard {
    width: 80%;
    /* height: 500px; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: auto;
    flex-direction: row;
    align-content: center;
}

img {
    background-color: rgba(46, 46, 255, 0.397);
}

img.hourImg {
    height: 50px;
    width: 50px;
    background-color: rgba(46, 46, 255, 0.699);
}